<section class="col-lg-4">
    <h4 class="card-title">About Us</h4>
    <p class="card-text">This is an online platform which allows users to post, comment, and view pictures and text. They are also able to upvote or downvote the posts of others. </p>  
</section> 
